{
  "model": {
    "n_layer": 36,
    "n_head": 20,
    "head_dim": 64,
    "seq_length": 512,
    "tokenizer": "BPE"
  },
  "training": {
    "epochs": 31,
    "batch_size": 8,
    "lr": 0.002,
    "checkpoint": {
      "every_batch": 250,
      "every_min": 30,
      "every_epoch": 1
    },
    "sync": {
      "gradient_accumulation_steps": 128,
      "method": "cpu",
      "chunks": 16
    },
    "sources": [
      "tinystories",
      "wikipedia_en_corpus",
      "chitanka_test_corpus",
      "chitanka_epub_corpus"
    ]
  },
  "tokenizer": {
    "max_vocab_size": 65536,
    "max_word_len": 20,
    "vocab_sample_cap": 25000000,
    "pre_sample_per_source": 500,
    "special_tokens": {
      "pad_token": "<PAD>",
      "unk_token": "<UNK>",
      "bos_token": "<BOS>",
      "eos_token": "<EOS>"
    },
    "sources": [
      "tinystories",
      "wikipedia_en_corpus",
      "chitanka_epub_corpus"
    ]
  },
  "paths": {
    "data_dir": "E:\\training\\data",
    "download_dir": "E:\\training\\dataset_dl\\downloads",
    "checkpoint_dir": "E:\\training\\checkpoints",
    "cache_dir": "E:\\training\\cache"
  },
  "checkpoint": {
    "ckpt_hash": "ca3a8182d56d8845",
    "epoch": 0,
    "loss": 0.0
  }
}