{
  "model": {
    "n_layer": 36,
    "n_head": 20,
    "head_dim": 64,
    "seq_length": 256
  },
  "training": {
    "epochs": 31,
    "batch_size": 8,
    "lr": 0.0002,
    "checkpoint": {
      "every_epoch": 1,
      "every_batch": 1000,
      "every_min": 30
    },
    "sync": {
      "gradient_accumulation_steps": 1024,
      "method": "cpu",
      "chunks": 4
    }
  },
  "tokenizer": {
    "max_vocab_size": 32768,
    "max_word_len": 20
  },
  "paths": {
    "data_dir": "E:\\training\\data",
    "extra_data_dirs": [
      "E:\\training\\data2\\bulgarian-corpus-33b"
    ],
    "checkpoint_dir": "E:\\training\\checkpoints",
    "cache_dir": "E:\\training\\cache"
  }
}