{
  "model": {
    "n_layer": 16,
    "n_head": 6,
    "head_dim": 128,
    "seq_length": 64
  },
  "training": {
    "epochs": 130,
    "batch_size": 16,
    "lr": 0.0002,
    "checkpoint_every": 10,
    "sync": {
      "gradient_accumulation_steps": 1024
    }
  },
  "tokenizer": {
    "max_vocab_size": 10000,
    "max_word_len": 20
  },
  "paths": {
    "data_dir": "E:\\training\\data",
    "checkpoint_dir": "E:\\training\\checkpoints"
  }
}
